_/8280_09/SupplierPartnerDomain-v1_0/com/junglesea/bo/msg/SupplierPartnerOrderMSG.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
	targetNamespace="http://SupplierPartnerDomain-v1_0/com/junglesea/bo/msg"
	xmlns:Q1="http://CommonDomain-v1_0/com/junglesea/bo"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:bons0="http://CustomerDomain-Msg/com/junglesea/bo">
	<xsd:import schemaLocation="../Order.xsd"
		namespace="http://CustomerDomain-Msg/com/junglesea/bo">
	</xsd:import>
	<xsd:import schemaLocation="../Header.xsd"
		namespace="http://CommonDomain-v1_0/com/junglesea/bo">
	</xsd:import>
	<xsd:import namespace="http://CommonDomain-v1_0/com/junglesea/bo"
		schemaLocation="../Entity.xsd" />
	<xsd:complexType name="SupplierPartnerOrderMSG">
		<xsd:complexContent>
			<xsd:extension base="Q1:Entity">

				<xsd:sequence>
					<xsd:element minOccurs="0" name="MessageHeader"
						type="Q1:Header">
					</xsd:element>
					<xsd:element minOccurs="0"
						name="SupplierPartnerOrder" type="bons0:Order">
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>