_/8280_08/all_v5/CustomerDomain-v1_0/com/junglesea/businessservices/interfaces/RetrieveCustomerInformation.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions name="RetrieveCustomerInformation" targetNamespace="http://CustomerDomain-v1_0/com/junglesea/businessservices/interfaces/RetrieveCustomerInformation" xmlns:bons1="http://CommonDomain-v1_0/com/junglesea/bo" xmlns:bons2="http://CustomerDomain-v1_0/com/junglesea/bo" xmlns:bons3="http://CustomerDomain-v1_0/com/junglesea/bo/msg" xmlns:tns="http://CustomerDomain-v1_0/com/junglesea/businessservices/interfaces/RetrieveCustomerInformation" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <wsdl:types>
    <xsd:schema targetNamespace="http://CustomerDomain-v1_0/com/junglesea/businessservices/interfaces/RetrieveCustomerInformation">
            <xsd:import namespace="http://CommonDomain-v1_0/com/junglesea/bo" schemaLocation="../../bo/BusinessException.xsd"/>
            <xsd:import namespace="http://CustomerDomain-v1_0/com/junglesea/bo/msg" schemaLocation="../../bo/msg/CustomerCollectionMSG.xsd"/>
            <xsd:import namespace="http://CustomerDomain-v1_0/com/junglesea/bo" schemaLocation="../../bo/msg/CustomerMSG.xsd"/>
      <xsd:element name="queryCustomer">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="inputParam" nillable="true" type="bons2:CustomerMSG"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="queryCustomerResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="outputParam" nillable="true" type="bons2:CustomerMSG"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="searchCustomer">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="inputParam" nillable="true" type="bons2:CustomerMSG"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="searchCustomerResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="outputParam" nillable="true" type="bons3:CustomerCollectionMSG"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="queryCustomerFault1_queryCustomerFault" nillable="true" type="bons1:BusinessException"/>
            <xsd:element name="searchCustomerFault1_searchCustomerFault" nillable="true" type="bons1:BusinessException"/>
        </xsd:schema>
  </wsdl:types>
    <wsdl:message name="queryCustomerRequestMsg">
    <wsdl:part element="tns:queryCustomer" name="queryCustomerParameters"/>
  </wsdl:message>
    <wsdl:message name="queryCustomerResponseMsg">
    <wsdl:part element="tns:queryCustomerResponse" name="queryCustomerResult"/>
  </wsdl:message>
    <wsdl:message name="searchCustomerRequestMsg">
    <wsdl:part element="tns:searchCustomer" name="searchCustomerParameters"/>
  </wsdl:message>
    <wsdl:message name="searchCustomerResponseMsg">
    <wsdl:part element="tns:searchCustomerResponse" name="searchCustomerResult"/>
  </wsdl:message>
    <wsdl:message name="queryCustomer_queryCustomerFaultMsg">
    <wsdl:part element="tns:queryCustomerFault1_queryCustomerFault" name="queryCustomerFault"/>
  </wsdl:message>
    <wsdl:message name="searchCustomer_searchCustomerFaultMsg">
    <wsdl:part element="tns:searchCustomerFault1_searchCustomerFault" name="searchCustomerFault"/>
  </wsdl:message>
    <wsdl:portType name="RetrieveCustomerInformation">
    <wsdl:operation name="queryCustomer">
      <wsdl:input message="tns:queryCustomerRequestMsg" name="queryCustomerRequest"/>
      <wsdl:output message="tns:queryCustomerResponseMsg" name="queryCustomerResponse"/>
            <wsdl:fault message="tns:queryCustomer_queryCustomerFaultMsg" name="queryCustomerFault"/>
        </wsdl:operation>
    <wsdl:operation name="searchCustomer">
      <wsdl:input message="tns:searchCustomerRequestMsg" name="searchCustomerRequest"/>
      <wsdl:output message="tns:searchCustomerResponseMsg" name="searchCustomerResponse"/>
            <wsdl:fault message="tns:searchCustomer_searchCustomerFaultMsg" name="searchCustomerFault"/>
        </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>