_/8280_08/all_v3/CommonDomain-v1_0/com/junglesea/bo/Person.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://CommonDomain-v1_0/com/junglesea/bo"
	xmlns:bons0="http://CommonDomain-v1_0/com/junglesea/bo"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:include schemaLocation="Contact.xsd"></xsd:include>
	<xsd:include schemaLocation="GeographicAddress.xsd" />
	<xsd:include schemaLocation="JName.xsd" />
	<xsd:complexType name="Person">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="Id" type="xsd:string" />
			<xsd:element minOccurs="0" name="Title" type="xsd:string" />
			<xsd:element minOccurs="0" name="Name" type="bons0:JName" />
			<xsd:element minOccurs="0" name="Suffix"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="Birthdate"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="Gender"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="Contact"
				type="bons0:Contact">
			</xsd:element>
			<xsd:element minOccurs="0" name="HomeAddress"
				type="bons0:GeographicAddress">
			</xsd:element>
			<xsd:element minOccurs="0" name="HomeTelephone"
				type="xsd:string">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>