_/8280_08/all_v6/CommonDomain-v1_0/com/junglesea/bo/Agreement.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://CommonDomain-v1_0/com/junglesea/bo"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:complexType name="Agreement">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="Term" type="xsd:date"></xsd:element>
			<xsd:element minOccurs="0" name="AgreementDetails"
				type="xsd:string">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>