_/8280_08/all_v3/EqualLibrary/com/junglesea/apps/equal/CreditCheckInput.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema targetNamespace="http://EqualLibrary/com/junglesea/apps/equal" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:complexType name="CreditCheckInput">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="orderAmount" type="xsd:double">
			</xsd:element>
			<xsd:element minOccurs="0" name="availCreditLimit" type="xsd:double">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>