_/8280_08/all_v3/EqualLibrary/com/junglesea/apps/equal/CreditScore.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
	targetNamespace="http://EqualLibrary/com/junglesea/apps/equal"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:complexType name="CreditScore">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="processedDate"
				type="xsd:date">
			</xsd:element>
			<xsd:element minOccurs="0" name="score" type="xsd:int"></xsd:element>
			<xsd:element minOccurs="0" name="additionalInfo"
				type="xsd:string">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>