_/8280_10/All-05192010/PayMeLibrary/com/junglesea/apps/payme/ccPayCancelResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
	targetNamespace="http://PayMeLibrary/com/junglesea/apps/payme"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:bons0="http://PayMeLibrary/com/junglesea/apps/payme">
	<xsd:include schemaLocation="ccPayCancelRequest.xsd"></xsd:include>
	<xsd:complexType name="ccPayCancelResponse">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="confirmationId"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="originalRequest"
				type="bons0:ccPayCancelRequest">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>