_/8280_05/ch5PI/Ch5Library/com/junglsea/businessobjects/CustomerCreditApproval.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
	targetNamespace="http://Ch5Library/com/junglsea/businessobjects"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:bons0="http://Ch5Library/com/junglsea/businessobjects">
	<xsd:include schemaLocation="CreditInput.xsd"></xsd:include>
	<xsd:include schemaLocation="CreditResponseSummary.xsd"></xsd:include>
	<xsd:complexType name="CustomerCreditApproval">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="creditInput"
				type="bons0:CreditInput">
			</xsd:element>
			<xsd:element minOccurs="0" name="creditResponseSummary"
				type="bons0:CreditResponseSummary">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>