_/8280_05/ch5PI/Ch5Library/com/junglsea/businessobjects/CustomerBG.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
	targetNamespace="http://Ch5Library/com/junglsea/businessobjects"
	xmlns:bons0="http://Ch5Library/com/junglsea/businessobjects"
	xmlns:wbibg="http://www.ibm.com/xmlns/prod/websphere/bo/6.0.0"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:include schemaLocation="Customer.xsd" />
	<xsd:import
		namespace="http://www.ibm.com/xmlns/prod/websphere/bo/6.0.0"
		schemaLocation="../../../BusinessGraph.xsd" />
	<xsd:complexType name="CustomerBG" mixed="false">
		<xsd:complexContent>
			<xsd:extension base="wbibg:BusinessGraph">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="0"
						name="verb">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="Create" />
								<xsd:enumeration value="Retrieve" />
								<xsd:enumeration value="Update" />
								<xsd:enumeration value="Delete" />
								<xsd:enumeration
									value="UpdateWithDelete" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="Customer" type="bons0:Customer" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>