_/8280_05/ch5PI/Ch5Library/com/junglsea/businessobjects/Person.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
	targetNamespace="http://Ch5Library/com/junglsea/businessobjects"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:complexType name="Person">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="ssn_identifier"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="fName" type="xsd:string"></xsd:element>
			<xsd:element minOccurs="0" name="lName" type="xsd:string"></xsd:element>
			<xsd:element minOccurs="0" name="dob" type="xsd:date"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>