_/8280_08/all_v6/CustomerDomain-v1_0/com/junglesea/bo/msg/CustomerOrderMSG.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema targetNamespace="http://CustomerDomain-v1_0/com/junglesea/bo/msg" xmlns:Q1="http://CommonDomain-v1_0/com/junglesea/bo" xmlns:bons0="http://CustomerDomain-Msg/com/junglesea/bo" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:import namespace="http://CustomerDomain-Msg/com/junglesea/bo" schemaLocation="../Order.xsd"/>
	<xsd:import namespace="http://CommonDomain-v1_0/com/junglesea/bo" schemaLocation="../Header.xsd">
	</xsd:import>
	<xsd:import namespace="http://CommonDomain-v1_0/com/junglesea/bo" schemaLocation="../Entity.xsd"/>
	<xsd:complexType name="CustomerOrderMSG">
		<xsd:complexContent>
			<xsd:extension base="Q1:Entity">

				<xsd:sequence>
					<xsd:element minOccurs="0" name="MessageHeader" type="Q1:Header">
					</xsd:element>
					<xsd:element minOccurs="0" name="CustomerOrder" type="bons0:Order">
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>