_/8280_05/chapter5 v2/Ch5Library/CreditManagement1.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions name="HelloWorldProcess" targetNamespace="http://Ch5Library/CreditManagement" xmlns:bons0="http://Ch5Library/HelloWorldProcess" xmlns:bons1="http://Ch5Library" xmlns:tns="http://Ch5Library/CreditManagement" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <wsdl:types>
    <xsd:schema targetNamespace="http://Ch5Library/CreditManagement" xmlns:bons0="http://Ch5Library/CreditManagement">
            <xsd:import namespace="http://Ch5Library" schemaLocation="CustomerCreditApproaval.xsd"/>
            <xsd:import namespace="http://Ch5Library" schemaLocation="Customer.xsd"/>
            <xsd:element name="requestCreditApproval">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="customerInfo" nillable="true" type="bons1:Customer"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="requestCreditApprovalResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="customerCreditApprovalResponse" nillable="true" type="bons1:CustomerCreditApproaval"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="requestCreditLineIncrease">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="customerInfo" nillable="true" type="bons1:Customer"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="requestCreditLineIncreaseResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="creditLineIncreaseResponse" nillable="true" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="string_element" nillable="true" type="xsd:string"/>
        </xsd:schema>
  </wsdl:types>
    <wsdl:message name="requestCreditApprovalRequestMsg">
    <wsdl:part element="tns:requestCreditApproval" name="requestCreditApprovalParameters"/>
  </wsdl:message>
    <wsdl:message name="requestCreditApprovalResponseMsg">
    <wsdl:part element="tns:requestCreditApprovalResponse" name="requestCreditApprovalResult"/>
  </wsdl:message>
    <wsdl:message name="requestCreditLineIncreaseRequestMsg">
    <wsdl:part element="tns:requestCreditLineIncrease" name="requestCreditLineIncreaseParameters"/>
  </wsdl:message>
    <wsdl:message name="requestCreditLineIncreaseResponseMsg">
    <wsdl:part element="tns:requestCreditLineIncreaseResponse" name="requestCreditLineIncreaseResult"/>
  </wsdl:message>
    <wsdl:message name="requestCreditApproval_faultCreditApprovalMsg">
    <wsdl:part element="tns:string_element" name="faultCreditApproval"/>
  </wsdl:message>
    <wsdl:portType name="CreditManagement1">
    <wsdl:operation name="requestCreditApproval">
      <wsdl:input message="tns:requestCreditApprovalRequestMsg" name="requestCreditApprovalRequest"/>
      <wsdl:output message="tns:requestCreditApprovalResponseMsg" name="requestCreditApprovalResponse"/>
            <wsdl:fault message="tns:requestCreditApproval_faultCreditApprovalMsg" name="faultCreditApproval"/>
        </wsdl:operation>
        <wsdl:operation name="requestCreditLineIncrease">
      <wsdl:input message="tns:requestCreditLineIncreaseRequestMsg" name="requestCreditLineIncreaseRequest"/>
      <wsdl:output message="tns:requestCreditLineIncreaseResponseMsg" name="requestCreditLineIncreaseResponse"/>
    </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>