_/8280_09/BetaLibrary/CheckItemAvailability.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://junglesea.com/BetaInventory"
	xmlns:bons0="http://junglesea.com/BetaInventory" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

	<xsd:include schemaLocation="ItemAvailability.xsd" />
	<xsd:complexType name="CheckItemAvailabilityType">
		<xsd:sequence>
			<xsd:element maxOccurs="unbounded" minOccurs="1"
				name="ItemAvailability" type="bons0:ItemAvailabilityType">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="CheckItemAvailability" type="bons0:CheckItemAvailabilityType" />
</xsd:schema>