_/8280_10/All-05192010/EqualLibrary/com/junglesea/apps/equal/Individual.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
	targetNamespace="http://EqualLibrary/com/junglesea/apps/equal"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:bons0="http://EqualLibrary/com/junglesea/apps/equal">
	<xsd:include schemaLocation="Address.xsd"></xsd:include>
	<xsd:complexType name="Individual">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="id" type="xsd:string"></xsd:element>
			<xsd:element minOccurs="0" name="firstName"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="lastName"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="dob" type="xsd:date"></xsd:element>
			<xsd:element minOccurs="0" name="homeAddress"
				type="bons0:Address">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>