_/8280_08/all_v5/CustomerDomain-v1_0/com/junglesea/bo/msg/CustomerCreditMSG.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema targetNamespace="http://CustomerDomain-v1_0/com/junglesea/bo" xmlns:Q1="http://CommonDomain-v1_0/com/junglesea/bo" xmlns:Q2="http://CustomerDomain-v1_0/com/junglesea/bo" xmlns:bons0="http://CustomerDomain-v1_0/com/junglesea/bo" xmlns:bons1="http://CustomerDomain-Msg/com/junglesea/bo" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:import namespace="http://CommonDomain-v1_0/com/junglesea/bo" schemaLocation="../Header.xsd">
	</xsd:import>
	<xsd:import namespace="http://CustomerDomain-Msg/com/junglesea/bo" schemaLocation="../Customer.xsd">
	</xsd:import>
	<xsd:include schemaLocation="../CustomerCredit.xsd"/>
	<xsd:import namespace="http://CommonDomain-v1_0/com/junglesea/bo" schemaLocation="../Entity.xsd"/>
	<xsd:complexType name="CustomerCreditMSG">
		<xsd:complexContent>
			<xsd:extension base="Q1:Entity">

				<xsd:sequence>
					<xsd:element minOccurs="0" name="MessageHeader" type="Q1:Header">
					</xsd:element>
					<xsd:element minOccurs="0" name="Customer" type="bons1:Customer">
					</xsd:element>
					<xsd:element minOccurs="0" name="CustomerCredit" type="Q2:CustomerCredit">
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>