_/8280_08/all_v3/BillingDomain-v1_0/com/junglesea/bo/msg/PaymentMSG.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
	targetNamespace="http://BillingDomain-v1_0/com/junglesea/bo/msg"
	xmlns:Q1="http://CommonDomain-v1_0/com/junglesea/bo"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:bons0="http://BillingDomain-Msg/com/junglesea/bo">
	<xsd:import schemaLocation="../Payment.xsd"
		namespace="http://BillingDomain-Msg/com/junglesea/bo">
	</xsd:import>
	<xsd:import schemaLocation="../Header.xsd"
		namespace="http://CommonDomain-v1_0/com/junglesea/bo">
	</xsd:import>
	<xsd:import namespace="http://CommonDomain-v1_0/com/junglesea/bo"
		schemaLocation="../Entity.xsd" />
	<xsd:complexType name="PaymentMSG">
		<xsd:complexContent>
			<xsd:extension base="Q1:Entity">

				<xsd:sequence>
					<xsd:element minOccurs="0" name="MessageHeader"
						type="Q1:Header">
					</xsd:element>
					<xsd:element minOccurs="0" name="Payment"
						type="bons0:Payment">
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>