_/8280_08/all_v5/PayMeLibrary/com/junglesea/apps/payme/Rejection.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
	targetNamespace="http://PayMeLibrary/com/junglesea/apps/payme"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:complexType name="Rejection">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="reasonCode"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="reasonDesc"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="action"
				type="xsd:string">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>