_/8280_08/all_v6/RapidLibrary/com/junglesea/apps/rapid/status.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
	targetNamespace="http://RapidLibrary/com/junglesea/apps/rapid"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:complexType name="status">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="trackingid"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="shipStatus"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="shipDate"
				type="xsd:date">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>