_/8280_09/CommonDomain-v1_0/com/junglesea/bo/JName.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema targetNamespace="http://CommonDomain-v1_0/com/junglesea/bo" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:complexType name="JName">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="FirstName" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="MiddleName" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="LastName" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="MaidenName" type="xsd:string">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>