_/8280_09/CommonDomain-v1_0/com/junglesea/bo/PartyRole.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://CommonDomain-v1_0/com/junglesea/bo"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:bons0="http://CommonDomain-v1_0/com/junglesea/bo">
	<xsd:include schemaLocation="Party.xsd"></xsd:include>
	<xsd:complexType name="PartyRole">
		<xsd:sequence>

			<xsd:element minOccurs="0" name="Status"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="Party"
				type="bons0:Party">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>