_/8280_08/all_v5/ProductDomain-v1_0/com/junglesea/bo/Product.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://ProductDomain-v1_0/com/junglesea/bo"
	xmlns:bons0="http://BillingDomain-v1_0/com/junglesea/bo"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:bons1="http://ProductDomain-v1_0/com/junglesea/bo">
	<xsd:include schemaLocation="ProductAgreement.xsd"></xsd:include>
	<xsd:import namespace="http://BillingDomain-v1_0/com/junglesea/bo"
		schemaLocation="Item.xsd">
	</xsd:import>
	<xsd:complexType name="Product">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="ProductDetails"
				type="bons0:Item">
			</xsd:element>
			<xsd:element minOccurs="0" name="SKU" type="xsd:string" />
			<xsd:element minOccurs="0" name="ProductAgreement"
				type="bons1:ProductAgreement">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>