_/8280_05/chapter5 v2/EligibilityCheck/EligibiltiyCheckInterface.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions name="EligibiltiyCheckInterface" targetNamespace="http://EligibilityCheck/EligibiltiyCheckInterface" xmlns:bons1="http://EligibilityCheck" xmlns:tns="http://EligibilityCheck/EligibiltiyCheckInterface" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <wsdl:types>
    <xsd:schema targetNamespace="http://EligibilityCheck/EligibiltiyCheckInterface">
      <xsd:import namespace="http://EligibilityCheck" schemaLocation="memberInfo.xsd"/>
      <xsd:element name="eligibiilityCheck">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="member" nillable="true" type="bons1:memberInfo"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="eligibiilityCheckResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="validateEligibilty" nillable="true" type="xsd:boolean"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
    <wsdl:message name="eligibiilityCheckRequestMsg">
    <wsdl:part element="tns:eligibiilityCheck" name="eligibiilityCheckParameters"/>
  </wsdl:message>
    <wsdl:message name="eligibiilityCheckResponseMsg">
    <wsdl:part element="tns:eligibiilityCheckResponse" name="eligibiilityCheckResult"/>
  </wsdl:message>
    <wsdl:portType name="EligibiltiyCheckInterface">
    <wsdl:operation name="eligibiilityCheck">
      <wsdl:input message="tns:eligibiilityCheckRequestMsg" name="eligibiilityCheckRequest"/>
      <wsdl:output message="tns:eligibiilityCheckResponseMsg" name="eligibiilityCheckResponse"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>