_/8280_05/chapter5 v2/EligibilityCheck/memberInfo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://EligibilityCheck"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:complexType name="memberInfo">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="FirstName"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="LastName"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="Age" type="xsd:int"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>