_/8280_08/all_v6/UpdateCustomer/bpc/samples/CustomerRecord.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:bo="http://bpc/samples" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://bpc/samples">
  <xsd:complexType name="CustomerRecord">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="customerNo" type="xsd:int"/>
      <xsd:element minOccurs="0" name="firstName" type="xsd:string"/>
      <xsd:element minOccurs="0" name="familyName" type="xsd:string"/>
      <xsd:element minOccurs="0" name="creditCardNumber" type="xsd:string"/>
      <xsd:element minOccurs="0" name="creditCardCompany" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
