_/8280_09/ProductDomain-v1_0/com/junglesea/bo/msg/ProductCollectionMSG.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
	targetNamespace="http://ProductDomain-v1_0/com/junglesea/bo/msg"
	xmlns:Q1="http://CommonDomain-v1_0/com/junglesea/bo"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:bons0="http://ProductDomain-v1_0/com/junglesea/bo">
	<xsd:import schemaLocation="../ProductCollection.xsd"
		namespace="http://ProductDomain-v1_0/com/junglesea/bo">
	</xsd:import>
	<xsd:import schemaLocation="../Header.xsd"
		namespace="http://CommonDomain-v1_0/com/junglesea/bo">
	</xsd:import>
	<xsd:import namespace="http://CommonDomain-v1_0/com/junglesea/bo"
		schemaLocation="../Entity.xsd" />
	<xsd:complexType name="ProductCollectionMSG">
		<xsd:complexContent>
			<xsd:extension base="Q1:Entity">

				<xsd:sequence>
					<xsd:element minOccurs="0" name="MessageHeader"
						type="Q1:Header">
					</xsd:element>
					<xsd:element minOccurs="0" name="ProductCollection"
						type="bons0:ProductCollection">
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>