_/8280_09/AlphaLibrary/com/junglesea/apps/alpha/AlphaInventoryStatus.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema targetNamespace="http://AlphaInventory/com/junglesea/apps/alpha" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:complexType mixed="false" name="AlphaInventoryStatusType">
		<xsd:sequence>
			<xsd:element default="0" minOccurs="1" name="AvailableQuantity" type="xsd:double">
			</xsd:element>

			<xsd:element minOccurs="0" name="UnitOfMeasure" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="AvailabilityStatus" type="xsd:string">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>