_/8280_09/AlphaLibrary/com/junglesea/apps/alpha/ItemAvailability.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
	targetNamespace="http://AlphaInventory/com/junglesea/apps/alpha"
	xmlns:bons0="http://AlphaInventory/com/junglesea/apps/alpha"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">

	<xsd:include schemaLocation="AlphaInventoryStatus.xsd"></xsd:include>
	<xsd:complexType name="ItemAvailabilityType">
		<xsd:sequence>
			<xsd:element maxOccurs="unbounded" minOccurs="1"
				name="ItemNumber" type="xsd:string">
			</xsd:element>
			<xsd:element maxOccurs="unbounded" minOccurs="0"
				name="ItemName" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="1" name="FulfillmentCenter"
				type="xsd:string">
			</xsd:element>
			<xsd:element maxOccurs="1" minOccurs="0"
				name="AlphaInventoryStatus" type="bons0:AlphaInventoryStatusType">
			</xsd:element>

		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>