_/8280_09/AlphaLibrary/com/junglesea/apps/alpha/ShowItemAvailability.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema targetNamespace="http://AlphaInventory/com/junglesea/apps/alpha" xmlns:bons0="http://AlphaInventory/com/junglesea/apps/alpha" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:include schemaLocation="ItemAvailability.xsd"/>
    <xsd:complexType name="ShowItemAvailabilityType">
		<xsd:sequence>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="ItemAvailability" type="bons0:ItemAvailabilityType">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="ShowItemAvailability" type="bons0:ShowItemAvailabilityType"/>
</xsd:schema>