_/8280_06/Ch6_MessageFilter_Example/Ch6Library/com/junglesea/ch6/mediations/interfaces/CreditManagement.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions name="CreditManagement" targetNamespace="http://Ch6Library/com/junglesea/ch6/mediations/interfaces/CreditManagement" xmlns:bons2="http://Ch6Library" xmlns:tns="http://Ch6Library/com/junglesea/ch6/mediations/interfaces/CreditManagement" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <wsdl:types>
    <xsd:schema targetNamespace="http://Ch6Library/com/junglesea/ch6/mediations/interfaces/CreditManagement">
            <xsd:import namespace="http://Ch6Library" schemaLocation="../Customer.xsd"/>
            <xsd:import namespace="http://Ch6Library" schemaLocation="../CustomerCreditApproval.xsd"/>
      <xsd:element name="requestCreditApproval">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="customerCreditRequest" nillable="true" type="bons2:Customer"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="requestCreditApprovalResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="customerCreditApprovalResponse" nillable="true" type="bons2:CustomerCreditApproval"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="operation1Fault1_creditApprovalFault" nillable="true" type="xsd:string"/>
    </xsd:schema>
  </wsdl:types>
    <wsdl:message name="requestCreditApprovalRequestMsg">
    <wsdl:part element="tns:requestCreditApproval" name="requestCreditApprovalParameters"/>
  </wsdl:message>
    <wsdl:message name="requestCreditApprovalResponseMsg">
    <wsdl:part element="tns:requestCreditApprovalResponse" name="requestCreditApprovalResult"/>
  </wsdl:message>
    <wsdl:message name="requestCreditApproval_creditApprovalFaultMsg">
    <wsdl:part element="tns:operation1Fault1_creditApprovalFault" name="creditApprovalFault"/>
  </wsdl:message>
    <wsdl:portType name="CreditManagement">
    <wsdl:operation name="requestCreditApproval">
      <wsdl:input message="tns:requestCreditApprovalRequestMsg" name="requestCreditApprovalRequest"/>
      <wsdl:output message="tns:requestCreditApprovalResponseMsg" name="requestCreditApprovalResponse"/>
      <wsdl:fault message="tns:requestCreditApproval_creditApprovalFaultMsg" name="creditApprovalFault"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>