_/8280_08/all_v4/PayMeLibrary/com/junglesea/apps/payme/ccPayResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
	targetNamespace="http://PayMeLibrary/com/junglesea/apps/payme"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:bons0="http://PayMeLibrary/com/junglesea/apps/payme">
	<xsd:include schemaLocation="ccPayRequest.xsd"></xsd:include>
	<xsd:include schemaLocation="Rejection.xsd"></xsd:include>
	<xsd:complexType name="ccPayResponse">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="confirmationId"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="rejection"
				type="bons0:Rejection">
			</xsd:element>
			<xsd:element minOccurs="0" name="origRequest"
				type="bons0:ccPayRequest">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>