_/8280_10/All-05192010/AccessServices-MoonlightWeb/WebContent/WEB-INF/wsdl/CardExpiry.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema targetNamespace="http://PayMeLibrary/com/junglesea/apps/payme" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:complexType name="CardExpiry">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="month" type="xsd:int"/>
			<xsd:element minOccurs="0" name="year" type="xsd:int"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>