_/8280_10/All-05192010/AccessServices-MoonlightWeb/WebContent/WEB-INF/wsdl/ccPayCancelRequest.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema targetNamespace="http://PayMeLibrary/com/junglesea/apps/payme" xmlns:bons0="http://PayMeLibrary/com/junglesea/apps/payme" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:include schemaLocation="ccPayRequest.xsd"/>
	<xsd:complexType name="ccPayCancelRequest">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="originalPaymentRequest" type="bons0:ccPayRequest">
			</xsd:element>
			<xsd:element minOccurs="0" name="payConfirmationId" type="xsd:string">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>