_/8280_08/all_v6/BetaLibrary/ItemAvailability.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://junglesea.com/BetaInventory"
	xmlns:bons0="http://junglesea.com/BetaInventory" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:include schemaLocation="BetaInventoryStatus.xsd" />
	<xsd:complexType name="ItemAvailabilityType">
		<xsd:sequence>
			<xsd:element maxOccurs="unbounded" minOccurs="1" name="ItemNumber"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="ItemName" type="xsd:string"
				maxOccurs="unbounded">
			</xsd:element>
			<xsd:element minOccurs="1" name="FulfillmentCenter" type="xsd:string">
			</xsd:element>
			<xsd:element maxOccurs="1" minOccurs="0"
				name="BetaInventoryStatus" type="bons0:BetaInventoryStatusType">
			</xsd:element>

		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>