_/8280_08/all_v2/PayMeLibrary/com/junglesea/apps/payme/CardBillingAccount.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
	targetNamespace="http://PayMeLibrary/com/junglesea/apps/payme"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:bons0="http://PayMeLibrary/com/junglesea/apps/payme">
	<xsd:include schemaLocation="Address.xsd"></xsd:include>
	<xsd:complexType name="CardBillingAccount">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="firstName"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="lastName"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="billAddress"
				type="bons0:Address">
			</xsd:element>
			<xsd:element minOccurs="0" name="phone" type="xsd:string"></xsd:element>
			<xsd:element minOccurs="0" name="mobilePhone"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="email" type="xsd:string"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>